//colors
$moderate-cyan:  hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$white: hsl(0, 0%, 100%);
$whitesmoke: hsl(55, 44%, 95%);
$light-gray: rgb(214, 207, 207);

//fonts size
$font-small: 0.875rem;
$font-medium: 1rem;

//font weigths
$font-light: 400;
$font-dark: 500;
$font-darker: 700;